/* ==========================================================================
   Defaults
   ========================================================================== */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: $gray-lighter;
  color: $gray-darker;
  font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
  line-height: 1.333;
}
a {
  color: $teal;

  &:focus,
  &:hover,
  &:active {
    color: $orange;
  }
}