/* ==========================================================================
   Var
   ========================================================================== */

$gray-darker:  #283d55;
$gray-dark:    #4e667f;
$gray:         mix(#596874, #dbdcdd);
$gray-light:   #dbdcdd;
$gray-lighter: #f7f8f9;
$white:        #fcfdfd;

$orange:       #ec8d68;
$teal:         #71b9c4;

$border-radius: 4px;

$transition-duration: 250ms;