/* ==========================================================================
   Editor
   ========================================================================== */

.editor {
  header {
    @include clearfix;

    padding: .75em 1em;
  }
}

.editor__name {
  color: $gray-dark;
  font-size: 100%;
  float: left;
  font-weight: 400;
  line-height: 2.5;
  margin: 0;
}

.editor__options {
  float: right;
  position: relative;

  &:after {
    content: '';
    border-color: $gray-light transparent transparent;
    border-style: solid;
    border-width: .25em .25em 0;
    position: absolute;
    pointer-events: none;
    margin: -.125em 0 0;
    top: 50%;
    right: .5em;
  }

  label {
    color: $gray;
    font-size: 80%;
    letter-spacing: .1ex;
    margin: 0 .75em 0 0;
    text-transform: uppercase;
  }
  select {
    -webkit-appearance: none;
            appearance: none;
    background: $white;
    border: thin solid $gray-light;
    border-radius: $border-radius;
    color: $gray-dark;
    cursor: pointer;
    font-size: 100%;
    line-height: inherit;
    padding: .5em 1.75em .5em 1em;

    &:focus,
    &:hover {
      border-color: $gray;
    }
  }
}
