/* ==========================================================================
   Notification
   ========================================================================== */

.notification {
  background: $teal;
  border-radius: $border-radius;
  color: $white;
  padding: .75em 4.25em .75em 1em;
  position: relative;

  + .notification {
    margin-top: .5em;
  }
}
.notification__message {
  margin: 0;
  min-height: 1.333em;
}
.notification__button {
  background: $white;
  border: none;
  border-radius: $border-radius;
  color: $teal;
  font-size: 150%;
  line-height: 1.5;
  margin: -.75em 0 0;
  padding: 0;
  position: absolute;
  right: .75em;
  top: 50%;
  width: 1.5em;
  height: 1.5em;
  text-align: center;

  &:focus,
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: .5;
  }
}

/**
 * 'Error' state.
 */
.is-error.notification {
  background: $orange;

  .notification__button {
    color: $orange;
  }
}
