/* ==========================================================================
   Output Document
   ========================================================================== */

.output-document {
  padding: .75em 1em;

  iframe {
    background: white;
    border: thin solid $gray-light;
    border-radius: $border-radius;
    height: 100%;
    overflow: scroll;
    width: 100%;
  }
}
