/* ==========================================================================
   Output Document
   ========================================================================== */

.output-document {
  h1 {
    background: $gray-lighter;
    font-size: 100%;
    font-weight: 400;
    line-height: 2.5;
    margin: 0;
    padding: .75em 1em;
    text-align: right;
  }
  iframe {
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: scroll;
    position: absolute;
    top: 4em;;
    width: 100%;
  }
}
