/* ==========================================================================
   Site Footer
   ========================================================================== */

.site-footer {
  background: $gray-light;
  color: $gray-dark;
  padding: .75em 1em;
  text-align: right;

  small {
    font-size: 80%;
  }
}
