/* ==========================================================================
   Site Header
   ========================================================================== */

.site-header {
  background: $gray-dark;
  color: $gray-lighter;
  padding: 1em;

  h1 {
    font-size: 100%;
    line-height: inherit;
    margin: 0;
  }
}
