/* ==========================================================================
   Site Footer
   ========================================================================== */

.site-footer {
  background: $gray-light;
  color: $gray;
  padding: .5em 1em;
  text-align: right;

  small {
    font-size: 80%;
  }
  a {
    color: inherit;

    &:focus,
    &:hover,
    &:active {
      color: $orange;
    }
  }
}
